export GIT_AUTHOR_NAME='pinkienort'
export GIT_AUTHOR_EMAIL='cantabilehisa@gmail.com'
export GIT_COMMITTER_NAME='pinkienort'
export GIT_COMMITTER_EMAIL='cantabilehisa@gmail.com'
export EMAIL='cantabilehisa@gmail.com'
