# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
  pager = less -x2
  autocrlf = input
  quotepath = false
  excludesfile = /Users/fukuoka-hisakazu/.gitignore
  # excludesfile = /Users/hisakazu/.gitignore_global
[user]
  ae = pinkienort
  email = fukuoka-hisakazu@dmm.com
  name = 福岡 久和
[color]
  ui = auto
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[alias]
  # イシュー番号に紐付いたコミット
  ic = "!f () {\
    b=`git s | head -n 1 | cut -d '_' -f2`;\
    git commit -m \"refs ${b} / $1\";\
    }; f"
  # イシュー番号に紐付いたブランチ
  ib = "!f () {\
    if [ $1 = '-r' ]; then\
      lb=issue_#${2};\
      rb=origin/issue_#${2};\
    else\
      lb=issue_#${1};\
      rb='';\
    fi;\
    git ch -b ${lb} ${rb};\
    }; f"
  a = add
  b = branch
  c = commit
  cma = commit -a -m
  cancel = reset --soft HEAD^
  ch = checkout
  chb = checkout -b
  cm = commit -m
  diff = diff --word-diff
  pl = pull
  ps = push -u
  push = push -u
  f = fetch
  l = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  s = status
  today = log --oneline --since='12 hour ago'
  pretty = log --pretty=oneline -10
  current-branch = ! git symbolic-ref HEAD | sed 's/refs\\/heads\\///'
  pull-force = ! git reset --hard origin/$(git current-branch)
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[commit]
	template = 
