# This is Git's per-user configuration file.
[core]
	# deltaを使ったpager(diffで使う)
	pager = delta
	# default pager
	# pager = less -x2
  autocrlf = input
  quotepath = false
[interactive]
	diffFilter = delta --color-only
[color]
  ui = auto
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[alias]
	### 基本コマンドのショートカット
  a = add
  b = branch
  c = commit
  ch = checkout
  chp = cherry-pick
  f = fetch
  pl = pull
  rs = restore
  s = status
  sw = switch
	### ちょっと便利したコマンドのショートカット
  # ブランチを選択して、ブランチを切り替える
  bs = ! git switch $(git branch | peco)
  sb = ! git switch $(git branch | peco)
	# commit 対象ファイルをすべてキャンセルする
  cancel = restore --staged **
	# いい感じにdiffを表示する。
	# 設定はgit diffのオプションも使うが基本的にdeltaのオプションを利用する
  d = diff -w 
  dc = diff -w --cached
	## mainブランチとの差分を表示する
  dd = ! git d origin/main...HEAD
  # HEAD から直近のマージコミットまで
  # 開発中のブランチに main を取り込むことがあるため、マージコミットを起点とする
  rr = ! git rebase -i $(git log --merges -1 --pretty=format:%h)
	# いい感じにログを表示する
  l = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  # マージ済みのブランチを削除する
  dmb = ! git branch --merged | grep -v '\\*' | grep -v '\\+' | awk '{ print $1 }' | egrep -v '^main$' | xargs -I@ git branch -d @
  # worktree add 
  wta = "!f() { \
		temp_file=$(mktemp); \
		vim \"$temp_file\"; \
		worktree_name=$(head -n 1 \"$temp_file\"); \
		repo_path=$(git rev-parse --show-toplevel); \
		git worktree add -f \"${repo_path}-${worktree_name}\"; \
		rm \"$temp_file\"; \
}; f"
  # worktree list
  wtl = "worktree list"
  # worktreeを選択して削除する
  wtr = "!f() { \
		selected=$(git worktree list | peco | awk \"{print \\$1}\"); \
		git worktree remove \"$selected\"; \
		echo removed \"$selected\" ; \
}; f"
  # .gitignoreテンプレートツールを呼び出す
  ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
[commit]
  process = git-lfs filter-process
	gpgsign = true
[merge]
	tool = vimdiff
	conflictStyle = zdiff3
[user]
	name = hisakaz0
	email = cantabilehisa@gmail.com
	signingkey = /Users/hisakazu/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[gpg]
	format = ssh
[push]
	autoSetupRemote = true
[delta]
	line-numbers = true
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection

